package ${packageName};

import java.util.Date;

public class ${Object} {
	private Long id = null;
{{test/snipplet/attributeDeclarations|attributeType|attributes}}
	private Date modified = null;
	private Date created = null;
	private boolean deleted = false;

	public ${Object}() { /* Empty JavaBean constructor */ }

	public ${Object}(Long id) {
		this.id = id;
	}

	public Long getId() {
		return id;
	}

	public void setId(String id) {
		this.id = Long.parseLong(id);
	}

	public void setId(Long id) {
		this.id = id;
	}

{{test/snipplet/attributeGettersSetters|attributeType|attributes}}

	public Date getModified() {
		return modified;
	}

	public void setModified(Date modified) {
		this.modified = modified;
	}

	public void setModified(String modified) {
		if (modified != null && modified.trim().length()>0) 
			this.modified = new Date(Long.parseLong(modified));
	}
	public Date getCreated() {
		return created;
	}

	public void setCreated(Date created) {
		this.created = created;
	}

	public void setCreated(String created) {
		if (created != null && created.trim().length()>0) 
			this.created = new Date(Long.parseLong(created));
	}

	public boolean isDeleted() {
	    return deleted;
    }
	
	public void setDeleted(String deleted) {
		this.deleted = (deleted.equalsIgnoreCase("true")||deleted.equals("1"));
	}

	public void setDeleted(boolean deleted) {
	    this.deleted = deleted;
    }
	
	public String toString() {
		return "${Object}: " +
{{test/snipplet/attributeToString|attributeType|attributes}}
		"";
	}
}